
  body{
    margin: 0;
    padding: 0;
    font-family: 'Press Start 2P', cursive;
    font-size: 15px !important;
    }

  #wrapper{
    width: 700px;
    height: 200px;
    margin: auto;

    }

  #grid {
    display: grid;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 0 ;

  }
  #grid > div {
    background-color: #0000ff;
    color: white;
    font-size: 4vw;
    padding: 0;
    max-width: 750px;

  }
  #grid > div:nth-child(1) {
    grid-column: span 3;
    grid-row: span 1;
    max-height: 100%;

  }
  #grid > div:nth-child(2) {
    grid-row: span 4;
  }

  #grid > div:nth-child(10) {
    grid-column: span 4;
  } 
  #grid > div:nth-child(6) {
    grid-column: span 3;
  } 

  .container{
    display: grid;
    grid-gap: 2px;
    grid-template-columns: 70px 100px 75px 100px 75px 100px;
  }

  .item {
    color: white;
   
  }

  .item2{
    margin-right: 40px;
  }

  .ground{
   
    max-width: 110%;

  }

  #textBox{
    background-color: black;
    color: white;
    max-height: 80px;
    max-width: 95%;
    font-size: 16px ;
    line-height: 25px;
    margin-left:25px;
    z-index: 1;
  }

  #rockImg{
  	width: 99px;
  	height: 92px;
    margin: 0 ;
  	border-top: 1px solid #CCCCCC;
    border-right: 2px  solid #333333;
    border-bottom: 1px  solid #333333;
    border-left: 1px  solid #CCCCCC;

  }

  #rock{
    width: 96px;

  }

  #paperImg{
  	width: 99px;
  	height: 92px;
  	border-top: 1px  solid #CCCCCC;
    border-right: 2px  solid #333333;
    border-bottom: 1px  solid #333333;
    border-left: 1px  solid #CCCCCC;

  }

  #scissorsImg{
  	width: 98px;
  	height: 91px;
  	border-top: 1px solid #CCCCCC;
    border-right: 2px  solid #333333;
    border-bottom: 1px  solid #333333;
    border-left: 1px  solid #CCCCCC;

  }

   a:link {
    background-color: #0000ff; 
    text-decoration: none;
  }

   a:hover {
    position: relative;
    left:5px;
     
    }

  .btn{
	  
  }

  #alex{
  	position: relative;
  	top: 75px;
  	left: 80px;
  }

  #parplin{
	  position: relative;
	  top:52px;
	  left: 136px;

  }

  #cloud1{
  	position: relative;
  	top: 47px;
  	left: 80px;

  }

  .block{
  	margin:0;
  	padding: 0;
  	float: right;
  }

  #pillars{
  	display: grid;
  	grid-template-columns: 48px 48px 48px;
  	grid-gap: -5px;
  }

  #pillars > div{
  	padding: -10px; 
  	margin: -2px;

  }

  .cloud{
    z-index: 5;
  }

  #alexDiv{
    
    background-color: #0000ff;
    position:relative;
    font-size: 15px;
    
  }
 
  #alexScoreBoard{
  font-size: 18px !important;
  }

  #parplinScoreBoard{
  font-size: 18px !important;
  }

button{
  background: black;
  color: white; 
  font-family: 'Press Start 2P', cursive;
  font-size: 16px;
  padding: 5px;
  position: relative;
  left: 65px;
}

#headerBox{
  max-height: 100px;
}

#alexStand{
  position: relative;
  top: 73px;
  left: 80px;
  display: block;
  
}

#parplinStand{
  position: relative;
  top:50px;
  left: 135px;
  display: block;
}